body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:; 0;
}

#logo {
  height: auto;
  width: auto;
  max-width: 80px;
  max-height: 80px;
}

.iframe_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}

.black-background {
  background-color:#000000;
}
.white {
  color:#ffffff;
}